<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" style="padding: 40px;">
            <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
                <div class="row">
                    <div class="col-sm-5 btn btn-success" style="text-align: center;">
                        {{title}}
                    </div>
                    <div class="col-sm-6" style="text-align:right;">
                        <button type="button" class="btn btn-primary">Edit</button>
                    </div>
                </div>
            </div>
            <div class="container-box" style="margin-top: 10px;">
                <div class="row">
                    <div class="col-3" style="text-align: right;">
                        <strong>Item</strong>
                    </div>
                    <div class="col" style="text-align: left;">
                        {{homepage.item}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-3" style="text-align: right;">
                        <strong>Amount</strong>
                    </div>
                    <div class="col" style="text-align: left;">
                        {{homepage.amount}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-3" style="text-align: right;">
                        <strong>Category</strong>
                    </div>
                    <div class="col" style="text-align: left;">
                        {{homepage.category}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-3" style="text-align: right;">
                        <strong>location</strong>
                    </div>
                    <div class="col" style="text-align: left;">
                        {{homepage.location}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-3" style="text-align: right;">
                        <strong>quantity</strong>
                    </div>
                    <div class="col" style="text-align: left;">
                        {{homepage.quantity}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-3" style="text-align: right;">
                        <strong>Spent On</strong>
                    </div>
                    <div class="col" style="text-align: left;">
                        {{homepage.spendOn}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-3" style="text-align: right;">
                        <strong>Created On</strong>
                    </div>
                    <div class="col" style="text-align: left;">
                        {{homepage.createdOn}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>